@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color: linear-gradient(0deg, transparent, rgb(184, 184, 184, 0.2));
}

body {
  width: 100vw;
  height: 100vh;

  align-items: center;
  justify-content: center;
  background: #1f2025;
  font-family: "Poppins", sans-serif;
}

.book {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 70px;
}

.book .left,
.right {
  width: 100%;
  position: relative;
  height: 100%;
}

.book .left {
  width: 20%;
  background: #2e3037;
  margin-left: 100px;
}

.book .left .play:hover {
  transform: rotate(360deg);
}

.book .left .cont {
  color: #fff;
  padding: 0 20px;
}

.book .left .cont h6 {
  font-size: 13px;
}
.book .left .cont p {
  font-size: 12px;
  margin-bottom: 10px;
}

.book .right {
  padding: 10px 40px;
  background: unset;
}

.book .right .head_time h1 {
  color: #fff;
  font-weight: 600;
}

.book .right .crd::-webkit-scrollbar {
  height: 3px;
  background: rgb(184, 184, 184, 0.2);
}
.book .right .crd::-webkit-scrollbar-thumb {
  height: 3px;
  background: rgb(184, 184, 184, 0.5);
}

/* Javascript class Colors  */

/* My CSS code  */

.screen {
  width: 100px;
  height: 20px;
  background-color: #c7f5d1;
  margin-bottom: 10px;
}

.legend {
  display: flex;
  justify-content: center; /* Adjust as needed */
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
  color: white;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust as needed for spacing */
}

.grid-row {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px; /* Adjust margin as needed */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 4px;
  background-color: ;
}

.row {
  display: flex;
  justify-content: center;
}

.seat {
  background-color: white;
  height: 16px;
  width: 18px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative; /* Position the seat number relative to the seat */
}

.seat.selected {
  background-color: greenyellow;
  color: #fff;
}

.seat.occupied {
  background-color: #fd6565;
  cursor: not-allowed;
}

.details {
  text-align: left;
}

/* Customize the seat number styles */
.seat::before {
  content: attr(
    data-seat-number
  ); /* Use the 'data-seat-number' attribute as content */
  font-size: 50%; /* Decrease font size */
  color: #555; /* Change textno color */
  font-weight: bold; /* Apply bold style */
  position: absolute; /* Position the seat number relative to the seat */
  top: 50%; /* Adjust vertical position */
  left: 50%; /* Adjust horizontal position */
  transform: translate(-50%, -50%); /* Center-align the seat number */
}
/* Add margin in the middle of the VIP section for vvip-seat, vip1-seat, and vip2-seat */
.container.vvip-seat:nth-child(8n + 4),
.container.vip1-seat:nth-child(8n + 4),
.container.vip2-seat:nth-child(8n + 4) {
  margin-right: 200px; /* Margin between the two groups of 4 grids in the VIP section */
}
/* Customize the size of VIP seats */
.vip-seat {
  width: 18px; /* Adjust the width */
  height: 20px; /* Adjust the height */
  /* Add other styling properties as needed */
}
h2 {
  color: white;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .book {
    flex-direction: column;
  }

  .book .left,
  .right {
    width: 100%;
  }

  .book .right::before,
  .book .right::after {
    display: none;
  }
  .book .left {
    width: 100%;
    background: #2e3037;
    margin-left: 0px;
  }
}

/* Example: Stack grids on top of each other on screens less than 768px wide */

.intro {
  background-color: #1f2025;
  color: white;
  height: 100%; /* Make the "intro" section fill the entire height of its container */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
  align-items: center; /* Horizontally center content */
}

#hero {
  width: 100%;
  height: 40vh;
  background: url("img/alx.webp") top right;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-family: "Satisfy", serif;
  color: #fff;
  margin-top: -220px;
}

#hero h2 {
  color: #eee;
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#hero .btn-scroll i {
  font-size: 48px;
}

#hero .btn-scroll:hover {
  color: #ffb727;
}
/* Style the container for seat information */
.cont {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

/* Style the seat categories and counts */
.cont p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

/* Style the total price */
.cont p:last-child {
  font-weight: bold;
}

.cont p:first-child {
  font-weight: bold;
}
.prices {
  color: rgb(36, 169, 169);
}

@media (max-width: 768px) {
  .grid-row {
    flex-direction: column;
  }

  .container .row .seat {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 10; /* Remove margin */
    padding: 20px;
  }
  .container {
    width: 100%; /* Adjust as needed */
  }

  .seat::before {
    content: attr(
      data-seat-number
    ); /* Use the 'data-seat-number' attribute as content */
    font-size: 90%; /* Decrease font size */
    color: #555; /* Change textno color */
    font-weight: bold; /* Apply bold style */
    position: absolute; /* Position the seat number relative to the seat */
    top: 50%; /* Adjust vertical position */
    left: 50%; /* Adjust horizontal position */
    transform: translate(-50%, -50%); /* Center-align the seat number */
  }

  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 44px;
    font-family: "Satisfy", serif;
    color: #fff;
    margin-top: -80px;
    margin-left: 10px;
  }

  #hero {
    width: 100%;
    height: 40vh;
    background: url("img/alx.webp") top right;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
  }
}

/* Style the Buy Ticket button */
#buy-ticket-button {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Padding around the button text */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Show a pointer cursor on hover */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s ease; /* Smooth background color transition */

  /* Center the button horizontally */
  display: block;
  margin: 20px auto;
}

/* Change button color on hover */
#buy-ticket-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Media Query for iPad Landscape */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Adjust container width for smaller screens */
  .container {
    width: 90%;
  }

  /* Adjust font sizes and spacing for smaller screens */
  h2 {
    font-size: 24px;
  }

  .legend-item {
    margin-right: 10px;
  }

  .grid-row {
    gap: 10px;
    margin: 10px;
  }

  .seat {
    width: 14px;
    height: 16px;
    font-size: 40%;
  }

  #hero {
    width: 1100px;
    height: 30vh;
    background: url("img/alx.webp") top right;
    background-size: 100%;
    position: relative;
    background-attachment: fixed;
  }

  .book {
    flex-direction: column;
  }

  .book .left,
  .right {
    width: 1100px;
  }

  .book .right::before,
  .book .right::after {
    display: none;
  }
  .book .left {
    width: 1100px;
    background: #2e3037;
    margin-left: 0px;
  }
}
