@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color: linear-gradient(0deg, transparent, rgb(184, 184, 184, 0.2));
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1f2025;
  font-family: "Poppins", sans-serif;
}

.book {
  width: 92%;
  height: 90%;
  display: flex;
}

.book .left,
.right {
  width: 80%;
  position: relative;
  height: 100%;
}

.book .left {
  width: 20%;
  background: #2e3037;
}

.book .left .play {
  position: relative;
  left: 44%;
  top: -20px;
  background: #fd6565;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0px 0px 20px #fd6565;
  transition: 0.3s linear;
  cursor: pointer;
}
.book .left .play:hover {
  transform: rotate(360deg);
}

.book .left .cont {
  color: #fff;
  padding: 0 20px;
}

.book .left .cont h6 {
  font-size: 13px;
}
.book .left .cont p {
  font-size: 12px;
  margin-bottom: 10px;
}

.book .right {
  padding: 10px 40px;
  background: unset;
}

.book .right::before {
  position: absolute;
  content: "";
  width: 95%;
  height: 250px;
  /* border: 1px solid #fff; */
  background: url(/img) no-repeat center -30px / cover;
  z-index: -10;
  border-radius: 20px;
}

.book .right .head_time h1 {
  color: #fff;
  font-weight: 600;
}

.book .right .crd::-webkit-scrollbar {
  height: 3px;
  background: rgb(184, 184, 184, 0.2);
}
.book .right .crd::-webkit-scrollbar-thumb {
  height: 3px;
  background: rgb(184, 184, 184, 0.5);
}

/* Javascript class Colors  */

/* My CSS code  */

.screen {
  width: 100px;
  height: 20px;
  background-color: #c7f5d1;
  margin-bottom: 10px;
}

.legend {
  display: flex;
  justify-content: center; /* Adjust as needed */
  align-items: center;
  margin-bottom: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust as needed for spacing */
}

.grid-row {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px; /* Adjust margin as needed */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 4px;
  background-color: ;
}

.row {
  display: flex;
  justify-content: center;
}

.seat {
  background-color: white;
  height: 16px;
  width: 18px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative; /* Position the seat number relative to the seat */
}

.seat.selected {
  background-color: greenyellow;
  color: #fff;
}

.seat.occupied {
  background-color: #fd6565;
  cursor: not-allowed;
}

.details {
  text-align: left;
}

/* Customize the seat number styles */
.seat::before {
  content: attr(
    data-seat-number
  ); /* Use the 'data-seat-number' attribute as content */
  font-size: 50%; /* Decrease font size */
  color: #555; /* Change textno color */
  font-weight: bold; /* Apply bold style */
  position: absolute; /* Position the seat number relative to the seat */
  top: 50%; /* Adjust vertical position */
  left: 50%; /* Adjust horizontal position */
  transform: translate(-50%, -50%); /* Center-align the seat number */
}
/* Add margin in the middle of the VIP section */
.container.vip:nth-child(8n + 4) {
  margin-right: 200px; /* Margin between the two groups of 4 grids in the VIP section */
}
/* Customize the size of VIP seats */
.vip-seat {
  width: 18px; /* Adjust the width */
  height: 20px; /* Adjust the height */
  /* Add other styling properties as needed */
}
h2 {
  color: white;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .book {
    flex-direction: column;
  }

  .book .left,
  .right {
    width: 100%;
  }

  .book .left .play {
    left: 50%;
  }

  .book .right::before,
  .book .right::after {
    display: none;
  }
}

/* Example: Stack grids on top of each other on screens less than 768px wide */
@media (max-width: 768px) {
  .grid-row {
    flex-direction: column;
  }

  .container .row .seat {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 10; /* Remove margin */
    padding: 20px;
  }
  .container {
    width: 100%; /* Adjust as needed */
  }

  .seat::before {
    content: attr(
      data-seat-number
    ); /* Use the 'data-seat-number' attribute as content */
    font-size: 90%; /* Decrease font size */
    color: #555; /* Change textno color */
    font-weight: bold; /* Apply bold style */
    position: absolute; /* Position the seat number relative to the seat */
    top: 50%; /* Adjust vertical position */
    left: 50%; /* Adjust horizontal position */
    transform: translate(-50%, -50%); /* Center-align the seat number */
  }
}
